﻿@model TeleportWebApp.ViewModels.UrbanAreaViewModel

<table id="urban_area_table" class="table table-striped">
    <thead>
        <tr>
            <td>Urban Area</td>
            <td>Teleport Score</td>
            <td>Summary</td>
        </tr>            
    </thead>
    <tbody>
            
            @foreach (var urbanArea in Model.UrbanAreasScore)
            {
                <tr>
                    <td>@urbanArea.Name</td>
                    <td>@urbanArea.TeleportScore</td>
                    <td>@Html.Raw(urbanArea.Summary)</td>
                </tr>
            }
    </tbody>
</table>