﻿@model TeleportWebApp.ViewModels.ContinentViewModel;

@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-6">
        <label asp-for="Continent"></label>
        <select asp-for="Continent" asp-items="@Model.Continent" class="single-select form-control"></select>
    </div>
</div>
<div class="text-center">
    <div id="loading_spinner"></div>
</div>
<br/>
<div class="card bg-info text-white">
    <div class="card-body" id="continent_title">
        <span id="continent_name"></span> Top Five Urban Areas
    </div>
</div>
<div id="urban_area_list"></div>


@section scripts{
    <script>
        $(function () {
            $(".single-select").removeAttr('multiple'); 
            $("#Continent").on("change", function (e) {
                $("#urban_area_table").remove();
                getUrbanAreas(e.target.value, e.currentTarget.selectedOptions[0].text);
            });
        })

        function getUrbanAreas(continentUrl, selectedContinent) {
            let data = {
                continentUrl: continentUrl
            };

            $.ajax({
                url: '/Home/GetTopFiveUrbanAreas',
                type: 'GET',
                data: data,
                beforeSend: function () {
                    $("#loading_spinner").addClass('spinner-border');
                    $("#continent_name").text(selectedContinent);
                },
                success: function (response) {
                    $("#urban_area_list").html(response);
                },
                complete: function () {
                    $("#loading_spinner").removeClass('spinner-border');
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    </script>
}

